{
  auto_https disable_redirects
  log {
    output stdout
    output file ./caddy.log
    level ${loglevel}
  }
}

http://, 
https:// {
  file_server
  @v2ray_websocket {
      path ${ws_path}
      header Connection *Upgrade*
      header Upgrade websocket
  }
  reverse_proxy @v2ray_websocket localhost:2333
}
