<!DOCTYPE html>
<html>
<head>
	<title>Sample Signup Page</title>
	<meta charset="utf-8">
	<meta name="description" content="A simple portfolio page for Ai saturdays abeokuta chapter">
	<meta name="author" content="Bello Gbadebo" />
	<meta name="viewport" content="width=device-width,  initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" media="all" href="./css/style.css">
	<link rel="stylesheet" media="all" href="./css/Lato/latofonts.css">
	<link rel="stylesheet" media="all" href="./css/font-awesome.min.css">
	<link rel="stylesheet" media="all" href="./css/materialize.min.css">
</head>
<body>
	<div class="body displayFlex">
		<div class="z-depth-2" id="signupBody">
			<div id="loginHeader">
				<h4>Create Account</h4>
			</div>
			<div class="row inputField">
			    <div class="input-field col s6">
				    <input type="text" id="fullname" placeholder="Type in your fullname...">
				    <label class="active" for="first_name2">Fullname</label>
			    </div>
			    <div class="input-field col s6">
				    <input type="text" id="username" placeholder="Type in your username...">
				    <label class="active" for="first_name2">Username</label>
			    </div>
			</div>
			<div class="row inputField">
			    <div class="input-field">
				    <input type="password" id="password" placeholder="Type in your password...">
				    <label class="active" for="first_name2">Password</label>
			    </div>
			</div>
			<div class="row inputField">
				<div class="btn-large blue waves-effect waves-light right" id="signupBtn">Create Account</div>
			</div>
		</div>
	</div>

	<div class="loader displayFlex" id="loader">
		<div class="preloader-wrapper active">
		    <div class="spinner-layer spinner-blue-only">
			    <div class="circle-clipper left">
			        <div class="circle"></div>
			    </div><div class="gap-patch">
			        <div class="circle"></div>
			    </div><div class="circle-clipper right">
			        <div class="circle"></div>
			    </div>
		    </div>
		</div>
	</div>
	<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', () => {
		const signUpBtn = document.querySelector('#signupBtn');

		const loader = document.querySelector('#loader');
		signUpBtn.addEventListener("click", () => {
			const username = document.querySelector("#username").value;
			const fullname = document.querySelector("#fullname").value;
			const password = document.querySelector("#password").value;

			const userObj = {
				username,
				fullname,
				password
			}

			loader.style.display = "flex";
			const randomTime = Math.random() * 5 * 1000; // Random number between 1 and 5
	        setTimeout(() => {
	            loader.style.display = "none";
				localStorage.setItem("user", JSON.stringify(userObj));
		        window.location.assign("./home.html");
	        }, randomTime);

		});
	})
	</script>
</body>
</html>