base {
  log_debug = ${log_debug};
  daemon = on;
  log_info = on;
  reuseport = on;
  redirector = iptables;
  log = "file:/var/log/redsocks2.log";
}

redsocks {
  bind = "0.0.0.0:60080";
  relay = "${ip}:${port}";
  type = socks5;
  timeout = 10;
}

redudp {
  bind = "127.0.0.1:60080";
  relay = "${ip}:${port}";
  type = socks5;
  udp_timeout = 30;
}
