<!DOCTYPE html>
<html>
<head>
	<title>Sample Auth Page</title>
	<meta charset="utf-8">
	<meta name="description" content="A simple portfolio page for Ai saturdays abeokuta chapter">
	<meta name="author" content="Bello Gbadebo" />
	<meta name="viewport" content="width=device-width,  initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" media="all" href="./css/style.css">
	<link rel="stylesheet" media="all" href="./css/Lato/latofonts.css">
	<link rel="stylesheet" media="all" href="./css/font-awesome.min.css">
	<link rel="stylesheet" media="all" href="./css/materialize.min.css">

    <script type="text/javascript" src="./js/main.js"></script>
</head>
<body>
	<div class="body displayFlex blue">
		<div class="displayFlex" id="btnBody">
			<div class="btn-large white" id="login">Login</div>
			<div class="btn-large white" id="signup">Create Account</div>
		</div>
	</div>

	<div class="loader displayFlex" id="loader">
		<div class="preloader-wrapper active">
		    <div class="spinner-layer spinner-blue-only">
			    <div class="circle-clipper left">
			        <div class="circle"></div>
			    </div><div class="gap-patch">
			        <div class="circle"></div>
			    </div><div class="circle-clipper right">
			        <div class="circle"></div>
			    </div>
		    </div>
		</div>
	</div>
</body>
</html>